Data Types and Structure

In [ ]:
# What are data structures, and why are they important?
"""
Data structures is a way of organizing, storing and managing data so that it can be easily accessable and manipulated efficiently.
It is important because it's efficiency for operations, for better uses of memory, scalebility of the data etc.
"""
# Explain the difference between mutable and immutable data types with examples.
"""
Mutable data type means whose data types can be modified or changed after creating, in the same memory location data can be changed. ex-list, dictionary, sets.
Immutable data type means whose data types can't be modified or changed after creating, in the same memory location data can't be changed. ex-int, float, string, tuples.
example=
list = [5, 7.6, true, "Ayan"]
list[-1] = "Ajay"
list.append("mondal")
list.remove(7.6)
print(list)
output= [5, true, 'Ajay', 'mondal']

s = "pwskills"
s[-1] = "a"
print(s)
output= TypeError: 'str' object does not support item assignment
"""
# What are the main differences between lists and tuples in Python?
"""
List is mutable data types but tuples is immutable data types.
syntax of list is square brackets[] and tuples is paranthesis().
"""
# Describe how dictionaries store data.
"""
Dictionary is a data structure that stores data in key-value pairs where keys are unique & immutable and values can be of any data type & mutable.
example=
dict = {"name": "Ayan", "email": "ayanmondal@gmail.com", "age": 20}
print(dict)
output= {'name': 'Ayan', 'email': 'ayanmondal@gmail.com', 'age': 20}
here name, email, age are keys and Ayan, ayanmondal@gmail.com, 20 are values.
"""
# Why might you use a set instead of a list in Python?
"""
Sets are unordered and unique collection of element, does not allow duplicate elements. Sets have multiple operations like union, intersection, differences etc.
list is ordered collection of data and allows duplicate elements. If we compare two list then we use loop operation list does not have membership operations like sets.
"""
# What is a string in Python, and how is it different from a list?
"""
String is a sequence of characters that represent manipulate textual data. string always written inside the "" or ''.
String is immutable data type and list is mutable data types.
"""
# How do tuples ensure data integrity in Python?
"""
Tuples ensure data integrity because they are immutable, hashable and reliable container for fixed set of values. it provides stable storage for critical data.
"""
# What is a hash table, and how does it relate to dictionaries in Python?
"""
A hash table is a data structure that stores key value pair and allows fast access, insertion, deletion process. It uses a hash function to convert a key into a numeric value called hash code this hash code decides the index where the value can be stored in memory.
Dictionary also stored data in key value pair like hash table.
"""
# Can lists contain different data types in Python?
"""
Yes, list can store any kind of data. It is mutable. It can store int, float, complex number, string, boolean values, list, set etc.
"""
# Explain why strings are immutable in Python.
"""
In python, strings are immutable which means once a string created it cannot be changed or modified in memory because it ensure memory efficiency,hashabilityand predictabiliy.
If strings were mutable, every small changes affect the multiple variables pointing to the same string in memory.
"""
# What advantages do dictionaries offer over lists for certain tasks?
"""
Dictionaries are bettr when we need fast lookup,structured data(key-value pair), uniqueness of keys and clear relationships.
List are better when oder matters and we only need simple sequential data.
"""
# Describe a scenario where using a tuple would be preferable over a list.
"""
Tuple is immutable data structure but list is mutable data structure, both can store any kind of data. but there is some scenario were we preffered tuple over list like if we stored data that should never be change. ex- days of week, month of year, aadhar id no. , Driving lisence no. etc
Also in dictionary tuple used as key but list use as vaule because we know in dict. keys are immutable and values are mutable.
"""
# How do sets handle duplicate values in Python?
"""
Sets in pyhton do not allow duplicates if we insert the same element multiple times it can store only one copy of that element.
Because sets are implemented using a hash table and each element's hash must be unique.
my_set = {1, 2, 2, 3, 4, 5, 5, 5, 6, 6,}
print(my_set)
the output is {1, 2, 3, 4, 5, 6}
"""
#  How does the “in” keyword work differently for lists and dictionaries?
"""
"in keywords is used in python as membership operator.
For lists "in" operator checks a value is present in the list or not
ex-
my_list = [1, 2, 3.5, 76]
print(76 in my_list)
the output is true
For dictionaries "in operator checks only keys are present in the dict. or not, does not check values present or not.
"""
# Can you modify the elements of a tuple? Explain why or why not
"""
No we cannot modify the elements of tuple in python because tuple is immutable it its created it canont be change.
"""
# What is a nested dictionary, and give an example of its use case?
"""
A nested dictionary in python means a dictionary inside another dictionary. It's a way of storing data in hierarchical structure. A nested dictionary  is used we want to represent complex data with multiple levels
example=
employee_name = {"name": "Ayan":{"emp id":1234, "dept":"data analytics", "salary":30000}, "Ajay":{"emp id":5678, "dept":"data science", "salary":40000}, "Amit":{"emp id":9123, "dept":"backend", "salary":50000}}
"""
#  Describe the time complexity of accessing elements in a dictionary.
"""
"""
# In what situations are lists preferred over dictionaries?
"""
1. When order matters
2. When we only need simple values and data size is small
3. When duplicate values are allowed
4. When index based access needed
"""
# Why are dictionaries considered unordered, and how does that affect data retrieval?
"""
Because dictionaries are implemented using hash table, data stored in dict. based on their hash values not positions.
Data retrieval is by key only not by indexing, lookup is fast and key based it is independent of order.
"""

In [ ]:
# Write a code to create a string with your name and print it.
name = input("Enter your name:")
print("Hello", name)

Enter your name:Ayan
Hello Ayan

In [ ]:
# Write a code to find the length of the string "Hello World".
s = "Hello World"
print("length is:", len(s))

length is: 11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming".
m = "Python Programming"
print("first 3 characters are:", m[0:3])

first 3 characters are: Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase.
word = "hello"
print("word in uppercase:", word.upper())

word in uppercase: HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
z = "I like apple"
z = z.replace("apple", "orange")
print(z)

I like orange

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].
l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
a = list[1]
print(a)

b

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
 # Write a code to create a tuple with the elements 100, 200, 300 and print it.
 t = (100, 200, 300)
 type(t)
 print(t)

(100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t_1 = ('red', 'green', 'blue', 'yellow')
print("The second to last element is:", t_1[-2])

The second to last element is: blue

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t2 = (10, 20, 5, 15)
min_num = min(t2)
print("Minimum number is:", min_num)

Minimum number is: 5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal = ('dog', 'cat', 'rabbit')
print("The index is:", animal.index('cat'))

The index is: 1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "mango", "grapes")
if "kiwi"  not in fruits:
  print("it is true")
else:
  print("it is false")

it is true

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {"a", "b", "c"}
print(my_set)

{'c', 'b', 'a'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1 = {1, 2, 3, 4, 5}
print(s1)
s1.clear()
print(s1)

{1, 2, 3, 4, 5}
set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
A = {1, 2, 3}
B = {3, 4, 5}
C = A | B   # A union B
print(C)

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
D = {1, 2, 3}
E = {2, 3, 4}
F = D & E
print(F)

{2, 3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Ayan", "age": 28, "city": "Kolkata"}
print(dict)

{'name': 'Ayan', 'age': 28, 'city': 'Kolkata'}

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1 = {'name': 'John', 'age': 25}
d1.update({"country": "USA"})
print(d1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
D = {'name': 'Alice', 'age': 30}
print(D["name"])

Alice

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop("age")
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {"name": 'Alice', "city": 'Paris'}
if "city" in dict:
  print("It is exist in the dictionary")
else:
  print("It is not exist in the dictionary")

It is exist in the dictionary

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [5, 7.6, 3+5j, "ayan", "data analytics"]
my_tuple = (5, 7.6, 3+5j, "ayan", "data analytics")
my_dict  = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print("list:", my_list)
print("tuple:", my_tuple)
print("dictionary:", my_dict)

list: [5, 7.6, (3+5j), 'ayan', 'data analytics']
tuple: (5, 7.6, (3+5j), 'ayan', 'data analytics')
dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).
my_list = [55, 76, 29, 15, 89]
my_list.sort()
print("Ascending order is:",my_list)

Ascending order is: [15, 29, 55, 76, 89]

In [ ]:
# Write a code to create a list with strings and print the element at the third index.
shopping_list = ["Mango", "Banana", "Grapes", "Jackfruit", "Apple"]
print("The List is:", shopping_list)
print(shopping_list[0])
print(shopping_list[1])
print(shopping_list[2])
print(shopping_list[3])
print(shopping_list[-1])
print(shopping_list[-2])   # Index 3 & -2 are the same element

The List is: ['Mango', 'Banana', 'Grapes', 'Jackfruit', 'Apple']
Mango
Banana
Grapes
Jackfruit
Apple
Jackfruit

In [ ]:
# Write a code to combine two dictionaries into one and print the result.
D1 = {"Name": "Ayan", "Email": "ayanmondal@gmail.com", "Age": 28}
D2 = {"Course": "Data  analytics", "Time": "6 months"}
print("the 1st dictionary is:",D1)
print("the second dictionary is:",D2)
D1.update(D2)
print("combine dictionary is:",D1)

the 1st dictionary is: {'Name': 'Ayan', 'Email': 'ayanmondal@gmail.com', 'Age': 28}
the second dictionary is: {'Course': 'Data  analytics', 'Time': '6 months'}
combine dictionary is: {'Name': 'Ayan', 'Email': 'ayanmondal@gmail.com', 'Age': 28, 'Course': 'Data  analytics', 'Time': '6 months'}

In [ ]:
# Write a code to convert a list of strings into a set.
my_list = ["Ayan", "Pwskills", "Data Analytics", "Apple"]
my_set = set(my_list)
print(my_list)
print(my_set)

['Ayan', 'Pwskills', 'Data Analytics', 'Apple']
{'Ayan', 'Data Analytics', 'Apple', 'Pwskills'}